/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.eastwood
.idea
*.iml
/lib/
/classes/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.cpcache/
